{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="A front-end for Wall$treet Event">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Wallstreet</title>

    <!-- Add to homescreen -->
    <link rel="manifest" href="{% static 'manifest.json'%}">
    <link href="{% static 'components.css'%}" rel="stylesheet">
	<link href="{% static 'css/docs.min.css'%}" rel="stylesheet">
	<link href="{% static 'css/select2.min.css'%}" rel="stylesheet">

<script src="{% static 'components.js'%}"></script>

    <!-- Fallback to homescreen for Chrome <39 on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Wallstreet'18">
    

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Wallstreet'18">
  

    <!-- TODO: Tile icon for Win8 (144x144 + tile color) -->
    <!-- <meta name="msapplication-TileImage" content="images/touch/ms-touch-icon-144x144-precomposed.png"> -->
    <!-- <meta name="msapplication-TileColor" content="#3372DF"> -->

    <meta name="theme-color" content="#263238">

    <!--<link rel="shortcut icon" href="../assets/favicon.png">-->


    <!-- SEO: If your mobile URL is different from the desktop URL, add a canonical link to the desktop page https://developers.google.com/webmasters/smartphone-sites/feature-phones -->
    <!--
    <link rel="canonical" href="http://www.example.com/">
    -->

    <!-- Page styles -->
    
    <link rel="stylesheet" href="{% static 'material.min.css'%}">
    <link rel="stylesheet" href="{% static 'main.css'%}">

    <!-- Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <body class="components">
  <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
  
  
  <div class="docs-layout mdl-layout mdl-js-layout">
    <header class="docs-layout-header mdl-layout__header">
      
      <div class="docs-navigation__container">
        
      </div>
      <i class="material-icons scrollindicator scrollindicator--right">&#xE315;</i>
      <i class="material-icons scrollindicator scrollindicator--left">&#xE314;</i>
    </header>
    <main class="docs-layout-content mdl-layout__content mdl-color-text--grey-600">
      <div class="content mdl-grid mdl-grid--no-spacing" id="content">
        
        


<div class="mdl-components mdl-js-components mdl-cell mdl-cell--12-col">
  <aside class="mdl-components__nav docs-text-styling mdl-shadow--4dp">
    
    <a href="#RULES" class="mdl-components__link mdl-component ">
      
      <span class="mdl-components__link-text">Rules</span>
    </a>
    
    <a href="#PORTFOLIO" class="mdl-components__link mdl-component ">
     
      <span class="mdl-components__link-text">Company Portfolio</span>
    </a>
    
    <a href="#TABLE" class="mdl-components__link mdl-component ">
   
      <span class="mdl-components__link-text">Company Table</span>
    </a>
    
    <a href="#INDEX" class="mdl-components__link mdl-component ">
     
      <span class="mdl-components__link-text">Index</span>
    </a>
    
    <a href="#BID" class="mdl-components__link mdl-component ">
     
      <span class="mdl-components__link-text">Bid</span>
    </a>
    
    <a href="#SELL" class="mdl-components__link mdl-component ">
     
      <span class="mdl-components__link-text ">Sell</span>
    </a>
    
    <a href="#PERSONALPOSITION" class="mdl-components__link mdl-component ">
    
      <span class="mdl-components__link-text">About Me</span>
    </a>
    
    <a href="#THISTORY" class="mdl-components__link mdl-component">
      
      <span class="mdl-components__link-text">Transaction History</span>
    </a>
  
    
    <a href="#LEADERBOARD" class="mdl-components__link mdl-component ">
      
      <span class="mdl-components__link-text">LeaderBoard</span>
    </a>
    
    <a href="#NEWS" class="mdl-components__link mdl-component ">
     
      <span class="mdl-components__link-text">News</span>
    </a>
    
    
  </aside>
  <main class="mdl-components__pages">
    <section id="index-section" class="mdl-components-index mdl-components__page">
      <div class="mdl-components-index-text mdl-grid">
        <div class="mdl-components-text docs-text-styling about-panel about-panel--text mdl-cell mdl-cell--12-col">
          <dl class="mdl-components-dl">
            <dt class="mdl-components-dt">COMPONENTS</dt>
            <dd class="mdl_components-dd">
        Material Design Lite (MDL) is a library of components for web developers
        based on Google's Material Design Philosophy: "A visual language for our
        users that synthesizes the classic principles of good design with the
        innovation and possibility of technology and science." Understanding the
        goals and principles of Material Design is critical to the proper use of
        the Material Design Lite components. If you have not yet read the
        <a href="http://www.google.com/design/spec/material-design/introduction.html">Material Design Introduction</a>
        you should do so before attempting to use the components.
            </dd>
          </dl>
        </div>
      </div>
      
    </section>

    <section id="RULES" class=" mdl-grid mdl-components__page"  style="background-color: black;"  >
      <div class="mdl-cell mdl-cell--12-col " >
        
        
      </div>
    </section>

	
	
	
	

    <section id="PORTFOLIO" class=" mdl-grid mdl-components__page" >
      <div class="">
			<div class="mdl-grid">
					<style>
					
                      .demo-card-wide.mdl-card {
                      }

                      .demo-card-wide > .mdl-card__title {
                          display: flex;
                          justify-content: center;
                      }

                      .demo-card-wide > .mdl-card__menu {
                          color: #fff;
                      }

                      .mdl-card__actions {
                          display: flex;
                          justify-content: space-between;
                      }

                      .mdl-card__supporting-text > .mdl-grid {
                          display: flex;
                          justify-content: space-between;
                          align-content: stretch;
                      }
                  </style>
        
				<div class="demo-card-wide mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet">
                      <div class="mdl-card__title">
                          <!-- Company name Chip -->
                          <span class="mdl-chip mdl-chip--contact">
                              <span class="mdl-chip__contact mdl-color--primary mdl-color-text--white">A</span>
                              <span class="mdl-chip__text">Ambuja Cement</span>
                          </span>



                      </div>
                      <div class="mdl-card__supporting-text">
                          <div class="mdl-grid mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-phone" style="display:flex; justify-content:center;">
                              <div class="mdl-cell mdl-cell--6-col mdl-cell--6-col-tablet mdl-cell--6-col-phone directors ">
                                  <b>   Details:</b>
                                  <style>
                                      .directors > li {
                                          text-align: left;
                                      }
                                  </style>

                                  <li>Type: Public  </li>
                                  <li>Industry: Cement</li>
                                  <li>Headquarters: Mumbai, Maharashtra, India</li>
                                  <li>
                                      Key People:
                                      Ajay Kapur (CEO)
                                      Narotam Sekhsaria (Chairman)
                                      Jan Jenisch (Vice Chairman)
                                  </li>






                              </div>


                              <div class="mdl-cell mdl-cell--6-col mdl-cell--6-col-tablet mdl-cell--6-col-phone directors ">
                                  <b>  </b>
                                  <style>
                                      .directors > li {
                                          text-align: left;
                                      }
                                  </style>

                                  <li>
                                      Key People:
                                      Ajay Kapur (CEO)
                                      Narotam Sekhsaria (Chairman)
                                      Jan Jenisch (Vice Chairman)
                                  </li>

                                  <li>
                                      Products (Contribution to Sales)
                                      Cement ( 98.98%)
                                      Scrap (0.21%)
                                      Power(0.80%)
                                  </li>




                              </div>

                          </div>


                      </div>
                      <div class="mdl-card__actions mdl-card--border" style="display:flex; justify-content:center;">
                          <style>
                              .demo-chip {
                                  background-size: contain;
                                  align-content: center;
                              }
                          </style>





                          <!-- Modal using Material Design Lite -->
                          <!-- <a href="" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored modal__trigger" data-modal="#modal"> -->
                          <a href="" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored modal__trigger" data-modal="#modal1">
                              COMPANY INFO
                          </a>


                      </div>
                  </div>
				  
				  
				  
				  
				  
		
		
		
		
		
		</div>
		
		 <div id="modal1" class="modal modal__bg mdl-cell mdl-cell--12-col-phone mdl-cell--12-col mdl-cell--12-col-tablet ">
                  <div class="modal__dialog mdl-cell mdl-cell--8-col mdl-cell--8-col-tablet">
                      <div class="modal__content ">
                          <div class="modal__header">
                              <div class="modal__title" style="display:flex; justify-content:center;">
                                  <h2 class="modal__title-text">
                                      <span class="mdl-chip mdl-chip--contact">
                                          <span class="mdl-chip__contact mdl-color--teal mdl-color-text--white">C</span>
                                          <span class="mdl-chip__text">COMPANY INFO</span>
                                      </span>
                                  </h2>
                              </div>

                          </div>
                          <div class="modal__text">
                              <p>
                                  Ambuja Cement Limited , is a Large Cap company (Market cap: Rs 45431.56 Crore) operating in Cement sector. It manufactures market cement and clinker for domestic and export markets. It is a part of LafargeHolcim, a global conglomerate, which holds 61.62% of its shares. Ambuja cement is the second-largest cement producer in the world, and the first in its continent, with a revenue of Rs. 76,378.1 million.)

                              </p>

                          </div>
                          <div class="modal__footer" style="display:flex; justify-content:center;">
                              <a class="mdl-button mdl-button--colored mdl-js-button  modal__close">
                                  Close
                              </a>
                          </div>
                      </div>
                  </div>
              </div>

			  
			  
			  
      </div>
    </section>
	
	
	
	
	
	
	
	
	
	
	 

	
	
	
	
	
	
	
    <section id="TABLE" class="mdl-components__page mdl-grid">
          <div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-phone" style="display:flex; justify-content:center;">

              <!-- Wide card with share menu button -->
            

              <div class=" mdl-card mdl-shadow--2dp  mdl-cell mdl-cell--6-col mdl-cell--6-col-tablet mdl-cell--4-col-phone" >
                  <div class="mdl-card__title" style="display:flex; justify-content:center;">
                      <span class="mdl-chip">
                          <span class="mdl-chip__text"> COMPANY TABLE</span>
                      </span>
                  </div>


                  <div class="mdl-card__supporting-text" style="display:flex; justify-content:center;">
                      <!-- Simple list -->
                      <style>
                          .one {
                              color: red;
                          }

                          .demo-list-item {
                         
                              border: 1px solid rgba(0, 0, 0, 0.1);
                          }

                              .demo-list-item > .mdl-list__item {
                                  display: flex;
                                  align-self: stretch;
                                  border: 1px solid rgba(0, 0, 0, 0.1);
                              }

                          .mdl-chip__contact mdl-color {
                              color: red;
                          }

                          .mdl-badge {
                              display: flex;
                              justify-content: center;
                              color: red;
                              background: rgba(255,255,255,0.2);
                              box-shadow: 1 1 1px red;
                               width:40px;
                              height: 40px;
                          }
                      </style>





                      <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp mdl-cell " >



                          <tbody >
                          <tr >
                                  <td class="mdl-data-table__cell--non-numeric">
                                      <!-- Contact Chip -->
                                      <span class="mdl-chip mdl-chip--contact" style="padding-left:10px;">
                                          <span class="mdl-chip__text">Name</span>
                                      </span>
                                  </td>
                                  <td>Share Price</td>
                                  <td><b>RISE/FALL</b></td>
                                  <td><b>-</b></td>

                              </tr>

                          {%for c in company%}
                              <tr >
                                  <td class="mdl-data-table__cell--non-numeric">
                                      <!-- Contact Chip -->
                                      <span class="mdl-chip mdl-chip--contact">
                                          <span class="mdl-chip__contact mdl-color--primary mdl-color-text--white">{{c.pk}}</span>
                                          <span class="mdl-chip__text">{{c.name}}</span>
                                      </span>
                                  </td>
                                  <td>{{c.sharePrice}}</td>
                                  <td><b>RISE/FALL</b></td>
                                  <td><b>2%</b></td>

                              </tr>
                          {%endfor%}
                              
                          </tbody>
                      </table>



                  </div>


              </div>


          </div>
      </section>
	
	
	

	
	
	
	
	
	
	
	
	

    <section id="INDEX" class="mdl-components__page mdl-grid" style="">
      <div class="mdl-cell mdl-cell--12-col">
        
        
      </div>
    </section>

    <section id="BID" class="mdl-components__page mdl-grid">
          <div class="mdl-cell mdl-cell--12-col" style="display:flex; justify-content:center;">

              <!-- Wide card with share menu button -->
              <style>
                  .demo-card-wide.mdl-card {
                  }

                  .demo-card-wide > .mdl-card__title {
                      .demo-card-wide > .mdl-card__menu
                  }

                  .form {
                      padding: 20px;
                  }

                  .do {
                      position: relative;
                      font-size: 16px;
                      /*  display: inline-block;*/
                      box-sizing: border-box;
                      width: 20px;
                      max-width: 100%;
                      margin: 0;
                      padding: 20px 0;
                  }

                  .two {
                      height: 280px;
                  }

                  .one {
                  }
              </style>

              <div class="demo-card-wide mdl-card mdl-shadow--2dp mdl-cell mdl-cell--8-phone mdl-cell--8-tablet mdl-cell--8-col one">
                  <div class="mdl-card__title" style="display:flex; justify-content:center; border-bottom:1px solid rgba(0, 0, 0, 0.1);">
                      <!-- Contact Chip -->
                      <span class="mdl-chip mdl-chip--contact">
                          <span class="mdl-chip__contact mdl-color--primary mdl-color-text--white">$</span>
                          <span class="mdl-chip__text">BID</span>
                      </span>
                  </div>

          
                      
                     <form action="/bid/" method="post" style="display:flex; justify-content:center;>


                                <p>{{error_message}}</p>

                        <div class="mdl-cell mdl-cell--12-col mdl-cell--4-col-phone" style="display:flex; justify-content:center;" >
                            <select class="selectcompanybid" value="" id="COMPANYBID" name="company" >
                                    {% for c in company%}
                                        <option>{{c}} </option>
                                    {%endfor%}
                            </select>
                        </div>
                                {% csrf_token %}

                         
                            
                                  <div class="mdl-card__supporting-text">
                                      <!-- Numeric Textfield with Floating Label -->

                                          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label do<!--important-->">
                                              <input class="mdl-textfield__input" type="text" pattern="[0-9]*[0-9]" id="sample5" style="align-content:center; text-align:center;"
                                                     name="Price">
                                              <label class="mdl-textfield__label" for="sample4" style="align-self:center; text-align:center;"><b>ENTER BID PRICE</b></label>
                                              <span class="mdl-textfield__error">Invalid Input</span>
                                          </div>
                                  </div>


                                  <div class="mdl-card__supporting-text" style="display:flex; justify-content:center;">

                                          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label do<!--important-->">
                                              <input class="mdl-textfield__input" type="text" pattern="[0-9]*[0-9]" id="sample6" style="align-content:center; text-align:center;"
                                                    name="noShares">
                                              <label class="mdl-textfield__label" for="sample4" style="align-self:center; text-align:center;"><b>ENTER NUMBER OF SHARES</b></label>
                                              <span class="mdl-textfield__error">Invalid Input</span>
                                          </div>

                                  </div>



                                  <div class="mdl-card__actions mdl-card--border" style="display:flex; justify-content:center;">
                                      <!-- Colored FAB button with ripple -->
                                      <button type="submit" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
                                          BID
                                      </button>
                                  </div>

                     </form>
                       
                      </div>



                

              </div>







      </section>
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	

     <section id="SELL" class="mdl-components__page mdl-grid" >
                <div class="mdl-cell mdl-cell--12-col" style="display:flex; justify-content:center;">

              <!-- Wide card with share menu button -->
              <style>
                  .demo-card-wide.mdl-card {
                  }

                  .demo-card-wide > .mdl-card__title {
                      .demo-card-wide > .mdl-card__menu
                  }

                  .form {
                      padding: 20px;
                  }

                  .do {
                      position: relative;
                      font-size: 16px;
                      /*  display: inline-block;*/
                      box-sizing: border-box;
                      width: 20px;
                      max-width: 100%;
                      margin: 0;
                      padding: 20px 0;
                  }

                  .two {
                      height: 280px;
                  }

                  .one {
                  }
              </style>

              <div class="demo-card-wide mdl-card mdl-shadow--2dp mdl-cell mdl-cell--8-phone mdl-cell--8-tablet mdl-cell--8-col one">
                  <div class="mdl-card__title" style="display:flex; justify-content:center; border-bottom:1px solid rgba(0, 0, 0, 0.1);">
                      <!-- Contact Chip -->
                      <span class="mdl-chip mdl-chip--contact">
                          <span class="mdl-chip__contact mdl-color--primary mdl-color-text--white">$</span>
                          <span class="mdl-chip__text">SELL</span>
                      </span>
                  </div>

          
                      
                     
                        <div class="mdl-cell mdl-cell--12-col mdl-cell--4-col-phone" style="display:flex; justify-content:center;" >
      <select class="selectcompanysell" value="" id="COMPANYSELL" >
	  <option>Select Company</option>
	  <option value="1">Name1</option>
	  <option value="1">Name1</option>
	  <option value="1">Name1</option>
	  <option value="1">Name1</option>
	  <option value="1">Name1</option>
	  <option value="1">Name1</option>
	  <option value="1">Name1</option>
	  <option value="1">Name1</option>
	  <option value="1">Name1</option>
</select>      
   </div>
  
    
                         
                            
                                  <div class="mdl-card__supporting-text">
                                      <!-- Numeric Textfield with Floating Label -->
                                       <form action="#" style="display:flex; justify-content:center;">
                                          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label do<!--important-->">
                                              <input class="mdl-textfield__input" type="text" pattern="[0-9]*[0-9]" id="sample4" style="align-content:center; text-align:center;">
                                              <label class="mdl-textfield__label" for="sample4" style="align-self:center; text-align:center;"><b>ENTER BID PRICE</b></label>
                                              <span class="mdl-textfield__error">Invalid Input</span>
                                          </div>
                                      </form>
                                  </div>


                                  <div class="mdl-card__supporting-text" style="display:flex; justify-content:center;">
                                          <form action="#" style="display:flex; justify-content:center;">
                                          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label do<!--important-->">
                                              <input class="mdl-textfield__input" type="text" pattern="[0-9]*[0-9]" id="sample4" style="align-content:center; text-align:center;">
                                              <label class="mdl-textfield__label" for="sample4" style="align-self:center; text-align:center;"><b>ENTER NUMBER OF SHARES</b></label>
                                              <span class="mdl-textfield__error">Invalid Input</span>
                                          </div>
                                      </form>
                                  </div>



                                  <div class="mdl-card__actions mdl-card--border" style="display:flex; justify-content:center;">
                                      <!-- Colored FAB button with ripple -->
                                      <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
                                          
                                      </button>
                                  </div>

                             
                       
                      </div>



                

              </div>


    </section>



    <section id="PERSONALPOSITION" class="mdl-components__page mdl-grid">
          <div class="" style="display:flex; justify-content:center;">


              <!-- Wide card with share menu button -->
            

              <div class="demo-card-wide mdl-card mdl-shadow--2dp mdl-cell--6-col mdl-cell--6-col-tablet mdl-cell--4-col-phone">
                  <div class="mdl-card__title" style="display:flex; justify-content:center;border: 1px solid rgba(0, 0, 0, 0.1); ">
                      <span class="mdl-chip ">

                          <span class="mdl-chip__text"><b>ABOUT ME</b></span>
                      </span>
                  </div>
                  <div class="mdl-card__title" style="display:flex; justify-content:center;">
                      <!-- Basic Chip -->
                      <span class="mdl-chip">
                          <span class="mdl-chip__text "><b>USERNAME</b></span>
                      </span>
                      <!-- Contact Chip -->
                     

                  </div>

                  <div class="mdl-card__title" style="display:flex; justify-content:space-between; border-bottom: 1px solid rgba(0, 0, 0, 0.1);">
                      <!-- Basic Chip -->
                      <span class="mdl-chip ">
                          <span class="mdl-chip__text "><b>TOTAL SHARES = </b> 22</span>
                      </span>
                      <!-- Contact Chip -->
                      <span class="mdl-chip mdl-chip--contact ">
                          <span class="mdl-chip__contact mdl-color--primary mdl-color-text--white">$</span>
                          <span class="mdl-chip__text">232422</span>
                      </span>
                  </div>
                  <div class="mdl-card__supporting-text" style="display:flex; justify-content:center;">




                      <table  class="mdl-data-table mdl-js-data-table  mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
                          <thead>
                              <tr>
                                  <th class="mdl-data-table__cell--non-numeric"><b>COMPANY NAME</b></th>
                                  <th><b>NUMBER OF SHARES</b></th>

                              </tr>
                          </thead>
                          <tbody>
                              <tr>
                                  <td class="mdl-data-table__cell--non-numeric">AUDI</td>
                                  <td>25</td>

                              </tr>
                              <tr>
                                  <td class="mdl-data-table__cell--non-numeric">BMW</td>
                                  <td>50</td>

                              </tr>
                              <tr>
                                  <td class="mdl-data-table__cell--non-numeric">BRITANIA</td>
                                  <td>10</td>

                              </tr>
                          </tbody>
                      </table>





                  </div>

              </div>


          </div>
      </section>


	  
	  
	  
	  

     <section id="THISTORY" class="mdl-components__page mdl-grid" style="">
          <div class="mdl-cell mdl-cell--12-col mdl-cell--8-col mdl-cell--8-col-tablet " style="display:flex; justify-content:center;">
              <!-- Wide card with share menu button -->
              


                
                  <div class="demo-card-wide mdl-card mdl-shadow--2dp mdl-cell mdl-cell--8-col mdl-cell--8-col-tablet mdl-cell--4-col-phone ">

                      <div class="mdl-card__title " style="display: flex ; justify-content: center;">
                          <span class="mdl-chip mdl-chip--contact">
                              <span class="mdl-chip__contact mdl-color--primary mdl-color-text--white">TH</span>
                              <span class="mdl-chip__text">Transaction History</span>
                          </span>
                      </div>

                      <div  class="mdl-card__supporting-text mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone " style=" display: flex; justify-content: center;">
                          <table class="mdl-data-table mdl-js-data-table mdl-data-table mdl-shadow--2dp" style="display: block;  max-height: 400px; overflow-y: auto; " data-upgraded="MaterialDataTable">
                              <thead>
                                  <tr>
                                      <th class="mdl-data-table__cell--non-numeric" style="font-size: 120%;">Company Name</th>
                                      <th class="mdl-data-table__cell--non-numeric" style="font-size: 120%;">No of share bought/sold</th>
                                      <th class="mdl-data-table__cell--non-numeric" style="font-size: 120%;">Evaluation</th>
                                  </tr>
                              </thead>
                              <tbody class="mdl-data-table-body ">

                                  <tr>
                                      <td style="text-align:center;"class="mdl-data-table__cell--non-numeric">Jio </td>
                                      <td style="text-align:center;">25</td>
                                      <td style="text-align:center;"><b>3242</b></td>
									  
                                      

                                  </tr>
                                 
                                 
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          
      </section>


     <section id="LEADERBOARD" class="mdl-components__page mdl-grid" >
          <div class="mdl-cell mdl-cell--12-col mdl-cell--8-col mdl-cell--8-col-tablet " style="display:flex; justify-content:center;">
              <!-- Wide card with share menu button -->
              


                
                  <div class="demo-card-wide mdl-card mdl-shadow--2dp mdl-cell mdl-cell--8-col mdl-cell--8-col-tablet mdl-cell--4-col-phone ">

                      <div class="mdl-card__title " style="display: flex ; justify-content: center;">
                          <span class="mdl-chip mdl-chip--contact">
                              <span class="mdl-chip__contact mdl-color--primary mdl-color-text--white">L</span>
                              <span class="mdl-chip__text">LeaderBoard</span>
                          </span>
                      </div>

                      <div  class="mdl-card__supporting-text mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone " style=" display: flex; justify-content: center;">
                          <table class="mdl-data-table mdl-js-data-table mdl-data-table mdl-shadow--2dp" style="display: block;  max-height: 400px; overflow-y: auto; " data-upgraded="MaterialDataTable">
                              <thead>
                                  <tr>
                                      <th class="mdl-data-table__cell--non-numeric" style="font-size: 120%;">Rank</th>
                                      <th class="mdl-data-table__cell--non-numeric" style="font-size: 120%;">Name</th>
                                      <th class="mdl-data-table__cell--non-numeric" style="font-size: 120%;">Evaluation</th>
                                  </tr>
                              </thead>
                              <tbody class="mdl-data-table-body ">
                                        {% for r in lb %}
                                  <tr>
                                      <td style="text-align:center;"class="mdl-data-table__cell--non-numeric">{{r.rank}} </td>
                                      <td style="text-align:center;">{{r.user.username}}</td>
                                      <td style="text-align:center;"><b>{{r.cash}}</b></td>
									  
                                      

                                  </tr>
                                        {% endfor %}
                                 
                                 
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
      </section>




   <section id="NEWS" class="mdl-components__page mdl-grid">
          
              <!-- Wide card with share menu button -->
              <div style="display:flex; justify-content:center;">

                  

                  <div class="demo-card-wide mdl-card mdl-shadow--2dp mdl-cell mdl-cell--8-col mdl-cell--8-tablet mdl-cell--8-col-phone">
                      <div class="mdl-card__title " style="display: flex ; justify-content: center;">
                          <span class="mdl-chip mdl-chip--contact">
                              <span class="mdl-chip__contact mdl-color--primary mdl-color-text--white">N</span>
                              <span class="mdl-chip__text">News</span>
                          </span>
                      </div>
                      <div class="mdl-card__supporting-text mdl-cell mdl-cell--12-col" style=" max-height: 400px; overflow-y: auto; -ms-overflow-style: -ms-autohiding-scrollbar;">


                        <!--<ul class="demo-list-item mdl-list "> -->  
                      



                              <li class="mdl-list__item" style="border: 1px solid rgba(0, 0, 0, 0.1);"  >
                                  <span class="mdl-list__item-primary-content">

                                      <div class="mdl-card__actions mdl-card--border" style="display:flex; justify-content:flex-start;">
                                          <style>
                                              .demo-chip {
                                                  background-size: contain;
                                                  align-content: center;
                                              }
                                          </style>





                                          <!-- Modal using Material Design Lite -->
                                          <!-- <a href="" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored modal__trigger" data-modal="#modal"> -->
                                          <a href="" class="  mdl-js-ripple-effect mdl-button--colored modal__trigger" data-modal="#modaln1">
                                              {{news.title}}
                                          </a>


                                      </div>
                                  </span>
                              </li>


                
                      </div>


                  </div>

                  <div id="modaln1" class="modal modal__bg mdl-cell mdl-cell--12-col-phone mdl-cell--12-col mdl-cell--12-col-tablet ">
                      <div class="modal__dialog mdl-cell mdl-cell--8-col mdl-cell--8-col-tablet">
                          <div class="modal__content ">
                              <div class="modal__header">
                                  <div class="modal__title" style="display:flex; justify-content:center;">
                                      <h2 class="modal__title-text">
                                          <span class="mdl-chip mdl-chip--contact">
                                              <span class="mdl-chip__contact mdl-color--primary mdl-color-text--white">N</span>
                                              <span class="mdl-chip__text">NEWS</span>
                                          </span>
                                      </h2>
                                  </div>

                              </div>
                              <div class="modal__text">
                                 <p>
                                     sidharth was sold  at very cheap rate to budhwar gali...
                                 </p>

                              </div>
                              <div class="modal__footer" style="display:flex; justify-content:center;">
                                  <a class="mdl-button mdl-button--colored mdl-js-button  modal__close">
                                      Close
                                  </a>
                              </div>
                          </div>
                      </div>
                  </div>
                 

             </div>
      </section>

    


    

    
    
</main>
</div>


      </div>
      
      
    </main>
  </div>

    <!-- IE Compatibility shims -->
      <!--[if lt IE 9]>
        <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js""></script>
      <![endif]-->

      <!--[if IE]>
        <script src="//cdnjs.cloudflare.com/ajax/libs/es5-shim/4.1.7/es5-shim.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/classlist/2014.01.31/classList.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/selectivizr/1.0.2/selectivizr-min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/flexie/1.0.3/flexie.min.js"></script>
        <link href="../assets/ie.css" rel="stylesheet">
      <![endif]-->
    <!-- end shims -->


    <!-- Material Design Lite -->
    <script src="{% static 'material.min.js'%}"></script>
    <!-- Add Copy-to-CodePen buttons to code blocks -->
  
    <!-- Enable Prism syntax highlighting -->
    <script
  src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
  crossorigin="anonymous"></script>
		<script src="{% static 'js/select2.min.js'%}"></script>
      <script src="{% static 'js/material-modal.min.js'%}"></script>
  <script defer src="{% static 'path_to/getmdl-select/getmdl-select.min.js'%}"></script>
    
    <script src="{% static 'main.js'%}"></script>
	<script>
	$('.selectcompanybid').select2({});
	$('.selectcompanysell').select2({});
	</script>
    <!-- Built with love using Material Design Lite -->
  </body>
</html>
